In [70]:
from bs4 import BeautifulSoup
import pandas as pd
import os
import re

from itables import show

In [39]:
agdir = 'CaUsda'

In [96]:
with open(os.path.join(agdir, 'downloads_page.html'), 'r') as f:
    soup = BeautifulSoup(f)

atags = soup.find_all('a', attrs={'aria-label':re.compile('.*agricultural production in CSV')})

links = {}
for atag in atags:
    links[atag['aria-label'][0:4]] = atag['href']

links

{'2020': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2020/main_data_table.csv',
 '2019': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2019/201908cropyear.csv',
 '2018': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2018/2018cactbsErrata.csv',
 '2017': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2017/201708cactb00.csv',
 '2016': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2016/2016cropyear.csv',
 '2015': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2015/2015cropyear.csv',
 '2014': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2014/2014cropyear.csv',
 '2013': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2013/2013cropyear.csv',
 '2012': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2012/201212cactb00.csv',
 '2011': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2011/201112cactb00.csv',
 '2010': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2010/201010cactb00.csv',
 '2009': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2009/200910cactb00.csv',
 '2008': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2008/200810cactb00.csv',
 '2007': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2007/200708cactb00.csv',
 '2006': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2006/200608cactb00.csv',
 '2005': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2005/200508cactb00.csv',
 '2004': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2004/200410cactb00.csv',
 '2003': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2003/200308cactb00.csv',
 '2002': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2002/200208cactb00.csv',
 '2001': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2001/200108cactb00.csv',
 '2000': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2000/200008cactb00.csv',
 '1999': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199908cactb00.csv',
 '1998': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199808cactb00.csv',
 '1997': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199708cactb00.csv',
 '1996': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199608cactb00.csv',
 '1995': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199508cactb00.csv',
 '1994': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199408cactb00.csv',
 '1993': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199308cactb00.csv',
 '1992': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199208cactb00.csv',
 '1991': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199108cactb00.csv',
 '1990': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1990s/199008cactb00.csv',
 '1989': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198908cactb00.csv',
 '1988': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198808cactb00.csv',
 '1987': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198708cactb00.csv',
 '1986': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198608cactb00.csv',
 '1985': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198508cactb00.csv',
 '1984': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198408cactb00.csv',
 '1983': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198308cactb00.csv',
 '1982': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198208cactb00.csv',
 '1981': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198108cactb00.csv',
 '1980': 'https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/1980s/198008cactb00.csv'}